html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #000;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.slick-dots button {
  background: #fff !important;
  border-radius: 50%;
}

.slick-dots button::before {
  content: none !important;
}

.slick-active button {
  background: #d82d0f !important;
}

.color-01 {
  color: #d82d0f;
}

@media (min-width: 768px) {
  .pc-text-center {
    text-align: center;
  }
  .sp-only {
    display: none !important;
  }
  .pc-only {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .pc-only {
    display: none !important;
  }
  .sp-only {
    display: block !important;
  }
}

html {
  overflow-y: scroll;
}

html.drawerOpen {
  overflow: hidden;
}

.Open-btn, .Close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0px solid;
}

.Open-btn {
  z-index: 10;
}

.Open-btn__line {
  display: block;
  background: #fff;
  width: 100%;
  height: 4px;
}

.Open-btn__line:first-child, .Open-btn__line:nth-child(2) {
  margin-bottom: 10px;
}

.Open-btn__line:last-child {
  margin-bottom: 0;
}

.Close-btn__line {
  display: block;
  background: #fff;
  width: 100%;
  height: 4px;
}

.Close-btn__line:first-child {
  position: absolute;
  transform: rotate(45deg);
}

.Close-btn__line:last-child {
  position: absolute;
  transform: rotate(135deg);
}

.Drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.Drawer__overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Drawer__nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: rgba(64, 64, 64, 0.77);
  overflow: auto;
}

.Drawer[aria-expanded] {
  transition: visibility 0.25s;
}

.Drawer[aria-expanded] .Drawer__overlay {
  transition: opacity 0.25s linear;
}

.Drawer[aria-expanded] .Drawer__nav {
  transition: transform 0.25s ease;
}

.Drawer[aria-expanded="true"] {
  visibility: visible;
  transition-duration: 0s;
}

.Drawer[aria-expanded="true"] .Drawer__overlay {
  opacity: 1;
}

.Drawer[aria-expanded="true"] .Drawer__nav {
  transform: translateX(0);
}

.Drawer[aria-expanded="false"] {
  visibility: hidden;
}

.Drawer[aria-expanded="false"] .Drawer__overlay {
  opacity: 0;
}

.Drawer[aria-expanded="false"] .Drawer__nav {
  transform: translateX(100%);
}

.Nav {
  padding: 100px 20px 0;
}

.Nav__item {
  margin-bottom: 20px;
}

.Nav a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .Open-btn {
    top: 17px;
    right: 10px;
  }
  .Drawer__nav {
    width: 90%;
  }
}

.Layout-01 {
  background: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .Layout-01 {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.Container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.Btn {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 15px 25px;
  max-width: 480px;
  background: #d82d0f;
  text-decoration: none;
  text-align: center;
}

.Btn:not(:last-child) {
  margin-bottom: 20px;
}

.Btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.Btn-more {
  position: relative;
  display: block;
  background: #d82d0f;
  max-width: 180px;
  text-align: center;
  padding: 5px 0;
  text-decoration: none !important;
}

.Btn-more:after {
  content: "MORE";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  background: #000;
  transform: rotate3d(1, 0, 0, 0deg) translateZ(-20px);
  transition: 0.3s;
}

.Btn-more:before {
  content: "";
  position: absolute;
  top: 38%;
  right: 5%;
  display: block;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.Btn-more:hover:after {
  transform: rotate3d(1, 0, 0, -70deg) translateZ(-20px);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.h2--type01 {
  margin-bottom: 4%;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
}

.h2--type01:after {
  content: "";
  display: block;
  margin: 2% auto 0;
  width: 40px;
  height: 2px;
  background: #d82d0f;
}

@media (min-width: 768px) {
  .h2--type01 {
    font-size: 3.2rem;
  }
}

.h3--type01 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #d82d0f;
}

.h3--type01::after {
  content: "";
  display: block;
  margin: 20px 0;
  width: 1px;
  height: 20px;
  background: #d82d0f;
}

@media (min-width: 768px) {
  .h3--type01 {
    font-size: 2.4rem;
  }
}

.Card-01 {
  background: #000;
}

.Card-01 p {
  padding: 20px;
  background: linear-gradient(#d82d0f, #d82d0f) 0 100%/0 5px no-repeat;
  transition: background 0.4s;
}

.Card-01 figure {
  overflow: hidden;
}

.Card-01 figure img {
  transition: 0.3s;
}

@media (hover) {
  .Card-01 figure img {
    filter: grayscale(100%);
  }
}

a:hover .Card-01 figure img,
a:focus .Card-01 figure img {
  filter: grayscale(0%);
  transform: scale(1.1);
  transition: 0.3s;
}

a:hover .Card-01 p,
a:focus .Card-01 p {
  background-size: 100% 5px;
}

.Card-02 {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  color: #000;
}

.Card-02 a {
  text-decoration: none;
}

.Card-02__ttl {
  color: inherit;
}

.Table-01 {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
}

.Table-01 th {
  color: #d82d0f;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.Table-01 th,
.Table-01 td {
  padding: 5px 10px;
  border: 1px solid #888;
}

@media (max-width: 767px) {
  .Table-01 th,
  .Table-01 td {
    display: block;
  }
}

.Anim-box {
  position: relative;
}

.Anim-box._reverse {
  display: flex;
  flex-direction: row-reverse;
}

.Anim-box__bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Anim-box__txt-area {
  display: flex;
  align-items: center;
  padding: 6%;
  height: 700px;
  width: 100%;
  background-color: black;
  transition: 1s;
}

.Anim-box__txt-area .Btn-more {
  transform: translateY(30px);
  opacity: 0;
}

.Anim-box__ttl {
  transform: translateY(30px);
  opacity: 0;
}

.Anim-box__txt {
  margin-bottom: 30px;
  transform: translateY(30px);
  opacity: 0;
}

.Anim-box__txt-inner {
  opacity: 0;
  transition: 0s;
}

.on .Anim-box__txt-area {
  padding: 6%;
  width: 40%;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.9s cubic-bezier(0.79, -0.02, 0.18, 0.98);
}

.on .Anim-box__txt-area .Btn-more {
  transform: translateY(0px);
  opacity: 1;
  transition: 1.5s cubic-bezier(0.23, 1, 0.32, 1) 1.4s;
}

.on .Anim-box__ttl {
  transform: translateY(0px);
  opacity: 1;
  transition: 1.5s cubic-bezier(0.23, 1, 0.32, 1) 1s;
}

.on .Anim-box__txt {
  transform: translateY(0px);
  opacity: 1;
  transition: 1.5s cubic-bezier(0.23, 1, 0.32, 1) 1.2s;
}

.on .Anim-box__txt-inner {
  opacity: 1;
  transition: 1s 1s;
}

@media (max-width: 767px) {
  .on .Anim-box__txt-area {
    padding: 0 10px;
    height: 450px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 767px) {
  .Anim-box__txt-area {
    height: 450px;
  }
  .on .Anim-box__txt-area {
    padding: 0 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

.Card-anim__item--1, .Card-anim__item--2, .Card-anim__item--3, .Card-anim__item--4, .Card-anim__item--5, .Card-anim__item--6, .Card-anim__item--7 {
  position: absolute;
  max-width: 223px;
  bottom: -100px;
  left: 0;
  opacity: 0;
  transition: 1s ease;
}

.on .Card-anim__item--1, .on .Card-anim__item--2, .on .Card-anim__item--3, .on .Card-anim__item--4, .on .Card-anim__item--5, .on .Card-anim__item--6, .on .Card-anim__item--7 {
  opacity: 1;
}

.Card-anim {
  position: relative;
}

.Card-anim__item--1 {
  transform: rotate(-10deg) rotateY(80deg) scale(0);
  z-index: 10;
  transition-delay: 1.2s;
}

.Card-anim__item--2 {
  transform: rotate(-6deg) rotateY(80deg) scale(0);
  z-index: 9;
  transition-delay: 1s;
}

.Card-anim__item--3 {
  transform: rotate(-2deg) rotateY(80deg) scale(0);
  z-index: 8;
  transition-delay: 0.8s;
}

.Card-anim__item--4 {
  transform: rotate(2deg) rotateY(80deg) scale(0);
  z-index: 7;
  transition-delay: 0.6s;
}

.Card-anim__item--5 {
  transform: rotate(6deg) rotateY(80deg) scale(0);
  z-index: 6;
  transition-delay: 0.4s;
}

.Card-anim__item--6 {
  transform: rotate(10deg) rotateY(80deg) scale(0);
  z-index: 5;
  transition-delay: 0.2s;
}

.Card-anim__item--7 {
  transform: rotate(14deg) rotateY(80deg) scale(0);
  z-index: 4;
}

.on .Card-anim__item--1 {
  bottom: 20%;
  transform: rotate(-10deg) rotateY(0deg) scale(1);
  z-index: 10;
  transition-delay: 0s;
}

.on .Card-anim__item--2 {
  bottom: 26%;
  left: 10%;
  transform: rotate(-6deg) rotateY(0deg) scale(1);
  z-index: 9;
  transition-delay: 0.2s;
}

.on .Card-anim__item--3 {
  bottom: 30%;
  left: 20%;
  transform: rotate(-2deg) rotateY(0deg) scale(1);
  z-index: 8;
  transition-delay: 0.4s;
}

.on .Card-anim__item--4 {
  bottom: 33%;
  left: 30%;
  transform: rotate(2deg) rotateY(0deg) scale(1);
  z-index: 7;
  transition-delay: 0.6s;
}

.on .Card-anim__item--5 {
  bottom: 33%;
  left: 40%;
  transform: rotate(6deg) rotateY(0deg) scale(1);
  z-index: 6;
  transition-delay: 0.8s;
}

.on .Card-anim__item--6 {
  bottom: 30%;
  left: 50%;
  transform: rotate(10deg) rotateY(0deg) scale(1);
  z-index: 5;
  transition-delay: 1s;
}

.on .Card-anim__item--7 {
  bottom: 26%;
  left: 60%;
  transform: rotate(14deg) rotateY(0deg) scale(1);
  z-index: 4;
  transition-delay: 1.2s;
}

@media (max-width: 768px) {
  .on .Card-anim__item--1 {
    bottom: 0%;
  }
  .on .Card-anim__item--2 {
    bottom: 6%;
  }
  .on .Card-anim__item--3 {
    bottom: 10%;
  }
  .on .Card-anim__item--4 {
    bottom: 13%;
  }
  .on .Card-anim__item--5 {
    bottom: 13%;
  }
  .on .Card-anim__item--6 {
    bottom: 10%;
  }
  .on .Card-anim__item--7 {
    bottom: 6%;
  }
}

@media (max-width: 768px) {
  .Card-anim {
    height: 400px;
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .Card-anim {
    height: 300px;
  }
  .Card-anim__item--1, .Card-anim__item--2, .Card-anim__item--3, .Card-anim__item--4, .Card-anim__item--5, .Card-anim__item--6, .Card-anim__item--7 {
    max-width: 140px;
  }
  .Card-anim__item--1 {
    transform: scale(1);
    z-index: 10;
    transition-delay: 1.2s;
    bottom: auto;
  }
  .Card-anim__item--2 {
    transform: scale(1);
    z-index: 9;
    transition-delay: 1s;
  }
  .Card-anim__item--3 {
    transform: scale(1);
    z-index: 8;
    transition-delay: 0.8s;
  }
  .Card-anim__item--4 {
    transform: scale(1);
    z-index: 7;
    transition-delay: 0.6s;
  }
  .Card-anim__item--5 {
    transform: scale(1);
    z-index: 6;
    transition-delay: 0.4s;
  }
  .Card-anim__item--6 {
    transform: scale(1);
    z-index: 5;
    transition-delay: 0.2s;
  }
  .Card-anim__item--7 {
    transform: scale(1);
    z-index: 4;
  }
}

.Pagetop {
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 60px;
  height: 60px;
  background: #d82d0f;
  z-index: 10;
}

.Pagetop::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(-45deg) translate(-2px, 2px);
}

@media (min-width: 768px) {
  .Pagetop {
    right: 20px;
    bottom: 20px;
  }
}

.Header {
  padding: 20px;
}

.Header__ttl {
  font-size: 3rem;
  font-weight: bold;
  color: #d82d0f;
}

@media (max-width: 767px) {
  .Header__ttl {
    font-size: 2.4rem;
  }
}

.Main-slider .slick-list {
  width: 100%;
  z-index: -1;
}

.Concept {
  padding: 40px 0;
  background-color: #000;
}

@media (min-width: 768px) {
  .Concept {
    padding: 80px 0;
  }
}

.Online {
  background: url(img/top_online_bg.jpg) no-repeat center/cover;
}

@media (max-width: 767px) {
  .Online {
    background-size: 120%;
    background-position: bottom;
    transition: 2s ease;
  }
  .Online.on {
    background-size: cover;
  }
}

.Planes {
  background: url(img/top_planes_bg.jpg) no-repeat center/cover;
}

@media (max-width: 767px) {
  .Planes {
    background-size: 280%;
  }
}

.Cards {
  padding: 40px 0 0;
  position: relative;
  background: url(img/top_cards_bg.jpg) no-repeat left/cover;
  background-attachment: fixed;
}

.Cards__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
}

.Cards__ttl {
  text-align-last: left;
}

.Cards__ttl:after {
  margin-left: 0;
}

.Cards__txt {
  width: 40%;
  height: 500px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.Cards__txt p {
  margin-bottom: 30px;
}

.Cards__img {
  width: 58%;
}

.Cards__link {
  position: relative;
  padding: 60px 10px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.Cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .Cards__inner {
    position: relative;
    display: block;
  }
  .Cards__txt {
    width: 100%;
    height: auto;
  }
  .Cards__img {
    width: 100%;
  }
}

.Info__news dl {
  height: 140px;
  overflow-y: scroll;
}

.Info__news dd {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .Info {
    display: flex;
    justify-content: space-between;
  }
  .Info__news {
    width: 48%;
  }
  .Info__link {
    width: 48%;
  }
}

footer {
  padding: 80px 0;
  height: 600px;
  background: #000;
  color: #fff;
}

footer h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #d82d0f;
}

footer p {
  margin-bottom: 1rem;
  line-height: 2;
}

footer ul {
  padding-left: 30px;
  list-style: circle;
}

footer li {
  margin-bottom: 1rem;
  line-height: 2;
}

@keyframes sp-bg-movement {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -75px -75px;
  }
  50% {
    background-position: 0 -75px;
  }
  75% {
    background-position: -75px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.Page-ttl {
  background: #d82d0f;
}

.Page-ttl h1 {
  font-size: 4rem;
}

.Archive-bg {
  background: url(img/archive_bg.jpg) no-repeat center/cover;
}
